1976-2022-house.csv
GHSL
HDX
HexCDv30wm
highway_features_cgn.rds
highway_features_filtered_cgn.rds
osm-buildings-cgn.rds
time_to_rewe.rds
vgrdl_r2b2_bs2023_0.xlsx
vgrdl_r2b3_bs2023_1.xlsx
HexCDv31
HexCDv31wm
Movebank
dwd-stations
time-to-next-hospital.rds
